<!DOCTYPE html>

<html>
<head>
    <title>ASP.NET 5 from scratch</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>
<div>
    <div class="container">
        <h1>ASP.NET 5 from scratch</h1>
    </div>
</div>
</body>
</html>